.sliderBox {
    background:#1C1B1B;
    margin-bottom: 30px;
}
#slider {
	margin:0;
    width: 100%;
    float: left;
    min-height:465px;
}
#flexslider .slides > li {
	display: none;
	position:relative
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;    
}
* html .slides {
	height: 1%;
}
#flexslider {
	position:relative;
	overflow:hidden;
	/*height:392px*/
}
.slides {
	list-style: none outside none;
	margin:0;
    -webkit-padding-start:0;
}
.slides img {
	width:100%;
}
/* Control Nav */
#flexslider .flex-direction-nav {
	display:none;
	position:absolute;
	top:50%;
	left:0;
	overflow:hidden;
	width:100%;
	margin:-12px 0 0;
	z-index:1000;
	list-style:none;
}
.flex-direction-nav li {
	float:right;
	text-align:right;
	height:25px;
	width:15px;
}
.flex-direction-nav li:first-child {
	float:left;
	text-align:left
}
#flexslider .flex-direction-nav li a {
	width:15px;
	height:25px;
	display:block;
}
#flexslider .flex-direction-nav li a.flex-prev {
	background:url(../img/prev-1.png) no-repeat 0 0;
	margin-left:18px;
	float:left
}
#flexslider .flex-direction-nav li a.flex-next {
	background:url(../img/next-1.png) no-repeat 0 0;
	float:right;
	margin-right:18px
}
#flexslider .flex-direction-nav li a:hover {
	background-position:0 bottom;
}
.flex-direction-nav {
	display:none
}
.flex-control-nav {
	display:none;
	z-index:2;
	overflow:hidden;
	margin:0;
	list-style:none;
}
.flex-control-nav li {
	float:left;
	width:253px;
	height:134px;
	margin-left:1px
}
.flex-control-nav li:first-child {
	margin:0;
}
.flex-control-nav li a {
	display:block;
	cursor:pointer
}
.flex-control-nav li a:hover, .flex-control-nav li .flex-active {
	
}
.flex-control-nav li .flex-active {
	cursor:default;
	pointer-events: none;
	
}
/* #slides-pagination */
 
#slides-pagination {
	position:relative;
    overflow:visible;
    display:block;
    float: none;
    overflow:hidden;
}
#slides-pagination .flex-viewport {
    overflow:visible !important;
    float:left;
}
#slides-pagination ul {
	width:100% !important;
	position:relative;
	list-style:none;
	transform:none !important;
	margin:0;
    padding:0
}
#slides-pagination ul li {
	display:block;
	width:195px !important;
    float:left !important;
	cursor:pointer;
    background:#23B5F7;
    padding:18px 20px 4px 19px;
    border-bottom:none;        
    border-right: 1px solid #2c2929;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
#slides-pagination ul li p {
    color:#fff;
	font:20px/19px 'Trebuchet MS', sans-serif;
}
#slides-pagination ul li:first-child +li+li+li {
        border-right:none;
        border-bottom:none;
    }
#slides-pagination .flex-direction-nav {
	top:0;
	left:0;
	position:absolute;
	margin:0;
	width:100%;
	list-style:none;
	height:0;
	display:none
}
#slides-pagination ul li .title1 {
    font:normal 15px/20px 'Open Sans';
    margin-bottom:6px;
    color:black;/*F6F6F6;/*#ffcc02;*/
    text-transform:uppercase;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
#slides-pagination ul li .title2 {
    font:14px/18px 'Open Sans';
    color:#fff;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.flex-caption {
  width: 100%;
  padding: 2%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,1);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
  
}
/*.flex-caption {
	position: absolute;
	left:0;
	top: 0;
    margin-top:62px;
    margin-left:60px;
}*/
/*.flex-caption .title2 {
    font:17px/24px 'Arial';
    color:#fff;
    width: 500px;
    margin-bottom:5px;
}*/
.flex-caption a {
    font:27px 'Trebuchet MS';
    color:#fc0c0c;
    text-decoration:underline;
}
.flex-caption a:hover {
    color:#fff;
}
/*-------------------------------------------------------media queries----------------------------------------------------------*/
@media (min-width: 1200px) {
    #slider {
        width: 800px;
        float: left;
        min-height:396px;
    }
    .slides img {
        width:800px;
    }
    #slides-pagination ul li {
    	width:370px !important;
        float:none !important;
        border-top:1px solid #2c2929;
        border-right:none;
    }
    #slides-pagination {
        float: right;
    }
    #slides-pagination ul li .title1 {
        font-size:23px;
        line-height:23px;
        font-weight:bold;
    }
}
/*---------------------------------------------------------------------*/
@media (min-width: 980px) and (max-width: 1199px){
    #slider {
        width: 100%;
        float: none;
        min-height:465px;
    }
    .slides img {
        width:100%;
    }
    #slides-pagination ul li {
        float: left !important;
        width: 195px !important;
        border-bottom:none;        
        border-right: 1px solid #2c2929;
    }
    #slides-pagination {
        float:none;
    }
    #slides-pagination ul li:first-child +li+li+li {
        border-right:none;
    }
    #slides-pagination ul li .title1 {
        font-size:15px;
        line-height:20px;
        font-weight:normal;
    }
}
/*---------------------------------------------------------------------*/
@media (max-width: 979px){
    #slider {
        min-height: 359px;
    }
    #slides-pagination {
        width: 724px;
    }
    #slides-pagination ul li {
        width: 322px !important;
    }
    #slides-pagination ul li:first-child +li {
        border-right:none;
    }
}
/*---------------------------------------------------------------------*/
@media (max-width: 767px) {
    .flex-caption .title1 {display:none;} 
    .flex-caption .title2 {display:none;} 
    .flex-caption a {display:none;}  
    #slides-pagination {position:absolute; height:0; overflow:hidden; padding:0;}
    #flexslider .flex-direction-nav {display:block;}
    #slider {
        min-height:100px;
        margin-bottom: 20px;
    }
}
/*---------------------------------------------------------------------*/
@media (min-width: 626px) and (max-width: 767px) {
}
/*---------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------*/
@media (max-width: 320px) {
}
