/* UI X */
.ui-105{
	max-width:400px;
	margin:0 auto;
	margin-top:60px;
	border-radius:4px;
	box-shadow:2px 2px 0px 1px rgba(0,0,0,0.05);
}
@media (max-width:400px){
	.ui-105{
		margin:40px 10px;
	}
}
.ui-105 .nav-tabs{
	border-bottom:0px;
	text-align:center;
}
.ui-105 ul li a i{
	display:block;
	font-size:25px;
	margin-bottom:8px;
	text-align:center;
}
.ui-105 ul li a{
	background:#fff;
	color:#ccc;
	border:0px;
	font-size:17px;
	text-transform:uppercase;
	font-weight:600;
	border-right:1px solid #e5e5e5;
	border-top:3px solid #e5e5e5; 
	border-bottom:1px solid #e5e5e5;
	border-radius:0px !important;
   -webkit-transition: all 0.7s ease;
   -moz-transition: all 0.7s ease;
   -o-transition: all 0.7s ease;
   -ms-transition: all 0.7s ease;
   transition: all 0.7s ease;  
}
.ui-105 ul li a:hover{
	color:#bbb;
	border-top:3px solid #ddd !important; 
}
.ui-105 ul li:first-child a{
	border-top-left-radius:5px !important;
	border-left:1px solid #e5e5e5;
}
.ui-105 ul li:first-child.active a, .ui-105 ul li:first-child.active:hover a{
	border-left:1px solid #e5e5e5 !important;
}
.ui-105 ul li:last-child a{
	border-top-right-radius:5px !important;
	border-right:1px solid #e5e5e5 !important;
}
.ui-105 ul li:last-child.active a, .ui-105 ul li:last-child.active:hover a{
	border-right:1px solid #e5e5e5 !important;
}
.ui-105 ul li.link-one.active a , .ui-105 ul li.link-one.active:hover a{
	border-top:3px solid #51d466 !important;
}
.ui-105 ul li.link-one.active a i{
	color:#51d466;
}
.ui-105 ul li.link-two.active a, .ui-105 ul li.link-two.active:hover a{
	border-top:3px solid #32c8de !important;
}
.ui-105 ul li.link-two.active a i{
	color:#32c8de;
}
.ui-105 ul li.link-three.active a, .ui-105 ul li.link-three.active:hover a{
	border-top:3px solid #cb79e6 !important;
}
.ui-105 ul li.link-three.active a i{
	color:#cb79e6;
}
.ui-105 ul li.active a{
	color:#444 !important;
}
.ui-105 ul li.active a, .ui-105 ul li.active:hover a{
	background:#fff !important;
	border-left:0px !important;
}
.ui-105 ul li:hover a{
	background:#fff !important;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
@media (max-width:767px){
	.ui-105 ul li a{
		border:1px solid #eee !important;
	}
	.ui-105 ul li:hover a{
		border:1px solid #eee !important;
	}
}
.ui-105-content .tab-content{
	background:#fff;
	padding:20px 30px 10px;
	border:1px solid #e5e5e5;
	border-top:0px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
.ui-105-content .tab-content h4{
	text-align:center;
	color:#777;
}
.ui-105-content .tab-content .bor{
	width:50px;
	height:3px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:20px;
	border-radius:2px;
}
.ui-105-content .tab-content label{
	color:#666;
	font-size:13px;
	font-weight:400;
}	
@media (max-width:767px){
	.ui-105-content .nav-tabs.nav-justified li a{
		margin-bottom:0px;
	}
}