@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/*------ template stylization ------*/
body {
	background: #f6f6f6;
	font: 14px Open Sans, Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #676565;
}
p {
	margin-bottom: 11px;
}
p > span {
	font-weight: 600;
	color: #4b5aa7;
}
p > em {
	color: #383535;
	font-weight: 600;
	font-style: normal;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
a {
	outline: none;
}
a:hover {
	text-decoration: none;
}
h1.brand {
	font-size: 0 !important;
	line-height: 0 !important;
	margin: 0 !important;
	float: left;
	padding: 0 !important;
}
h1.brand a {
	display: inline-block;
}
h1.brand a > img {
	width: 100%;
}
h2 {
	color: #383535;
	font: 600 20px/20px Open Sans, Arial, Helvetica, sans-serif;
	margin: 0;
	text-transform: uppercase;
}
h3 {
	color: #383535;
	font: bold 14px/20px Open Sans, Arial, Helvetica, sans-serif;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}
h4 {
	color: #383535;
	font: bold 36px/36px Open Sans, Arial, Helvetica, sans-serif;
	margin: 42px 0 7px 0;
	text-transform: uppercase;
}
#content ul {
	list-style: none;
}
.extra-wrap {
	overflow: hidden;
}
.global {
	background: url(../img/global_gradient.png) repeat-x;
}
.holder {
	background-color: #f7f7f5;
	background-image: -moz-linear-gradient(top, #ffffff, #eceae6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eceae6));
	background-image: -webkit-linear-gradient(top, #ffffff, #eceae6);
	background-image: -o-linear-gradient(top, #ffffff, #eceae6);
	background-image: linear-gradient(to bottom, #23B5F7, #FFFFFF);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeceae6', GradientType=0);
	padding: 16px 0 19px 30px;
	border-bottom: 1px solid #ffffff;
	position: relative;
	margin-bottom: 26px;
}
.holder em {
	position: absolute;
	left: 0;
	top: 0;
	width: 19px;
	height: 55px;
	background: url(../img/border.png) no-repeat;
}
.contentSpan {
	background: #ffffff url(../img/holder_bg.png) 0 top repeat-x;
}
.contentHolder {
	padding: 0 20px 29px 20px;
	border-bottom: 1px solid #d8d4d4;
	overflow: hidden;
}
.contentHolder2 {
	padding: 0 0 4px 0;
	border-bottom: 1px solid #d8d4d4;
	overflow: hidden;
}
.contentHolder3 {
	padding: 0 20px 17px 20px;
	border-bottom: 1px solid #d8d4d4;
	overflow: hidden;
}
.contentHolder4 {
	padding: 0 0 36px 0;
	border-bottom: 1px solid #d8d4d4;
	overflow: hidden;
	background: #ffffff;
}
hr {
	border-top: none;
	border-bottom: 1px solid #eaeaea;
	margin: 25px 0 23px 0;
}
/*-----btn-----*/
.btn.btn-primary {
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: none;
	position: relative;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 19px 12px 19px;
	font: 600 16px/18px 'Open Sans', Open Sans, Arial, Helvetica, sans-serif;
	color: #ffffff;
	border: none;
	text-align: center;
	letter-spacing: 0;
	background: #4f4c4b;
	text-shadow: none;
	text-decoration: none !important;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btn.btn-primary:hover {
	color: #ffc301;
	background: #2f2d2d;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btn.btn-link {
	box-shadow: none;
	position: relative;
	text-decoration: underline;
	padding: 0;
	font: italic 600 15px 'Open Sans', Open Sans, Arial, Helvetica, sans-serif;
	margin: 0;
	color: #2f822f;
	border: none;
	letter-spacing: 0;
	display: inline-block;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btn.btn-link > em {
	text-decoration: none;
}
.btn.btn-link:hover {
	color: #333;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
/*-----list-----*/
.list1 {
	margin: 0;
	list-style: none;
	margin-bottom: 14px;
}
.list1 li {
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 16px;
	margin-bottom: 14px;
	border-bottom: 1px dotted #c1c1c1;
	overflow: hidden;
}
.list1.video li {
	padding-bottom: 19px;
}
.list1 li.marg {
	margin-bottom: 0;
}
.list1 li figure {
	margin: 0;
	float: left;
	margin-right: 19px;
	position: relative;
}
.list1 li figure em {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	background: url(../img/play.png) center center no-repeat;
}
.list1 li time {
	font: 600 italic 15px Open Sans;
	color: #484848;
	display: block;
	margin-bottom: 9px;
}
.list1 li .extra-wrap a {
	font: 600 17px Open Sans;
	color: #2f822f;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.list1 li a:hover {
	color: #333333;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.list1 li > p {
	margin-top: 11px;
}
.list1 li > p > a {
	color: #2f822f;
	font-size: 22px;
	line-height: 11px;
	margin-left: 9px;
}
.list1 li > p > a:hover {
	color: #484848;
}
.list2 {
	margin: 0;
	list-style: none;
	overflow: hidden;
	margin-bottom: 28px;
	margin-top: 4px;
}
.list2.borderNone {
	margin-bottom: -9px;
}
.list2 li {
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px solid #eaeaea;
	padding: 0 0 11px 0;
	margin-bottom: 12px;
}
.list2.borderNone li {
	border-bottom: none;
}
.list2 li div {
	overflow: hidden;
}
.list2 li.last {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.list2 li a {
	color: #383535;
	font: 600 14px Open Sans, Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list2 li span {
	font-size: 18px;
	color: #ffcc03;
	margin-right: 9px;
	margin-top: 1px;
	float: left;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list3 {
	margin: 0;
	list-style: none;
	margin-bottom: -4px;
}
.list3 li {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 19px;
}
.list3 li:first-child + li + li + li {
	margin-bottom: 0;
}
.list4 {
	margin: 0;
	list-style: none;
	margin-top: 3px;
	margin-bottom: -10px;
}
.list4 li {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 19px;
}
.list4 li:first-child + li + li {
	margin-bottom: 0;
}
.list4 li .numb {
	float: left;
	margin-right: 15px;
	font: 600 20px Open Sans, Arial, Helvetica, sans-serif;
	color: #ffcf03;
	margin-top: -6px;
}
.list4 li p {
	margin-bottom: 6px;
}
.list5 {
	margin: 0;
	list-style: none;
	margin-top: 5px;
	overflow: hidden;
	margin-left: -15px;
	margin-bottom: 0;
}
.list5 li {
	font-size: 14px;
	line-height: 20px;
	float: left;
	width: 122px;
	margin-left: 12px;
	margin-bottom: 11px;
}
.list6-box {
	position: relative;
	padding-bottom: 94px;
}
.list6-box:after {
	width: 2px;
	height: 100%;
	background: none;
	background: url(../img/border.png) right top repeat-y;
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: 0;
	right: -67px;
	content: ' ';
	z-index: 10;
}
.list6 {
	margin: 0;
	list-style: none;
	display: block;
	margin-top: 28px;
}
.list6 li {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 30px;
}
.list6 .badge {
	padding: 0;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 54px;
	height: 55px;
	text-align: center;
	padding-top: 10px;
	text-shadow: none;
	font: 30px/30px 'Fjalla One';
	color: #ffffff;
	float: left;
	margin-right: 15px;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	background-color: #4d4c4c;
	background-image: -moz-linear-gradient(top, #626262, #2d2c2c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#626262), to(#2d2c2c));
	background-image: -webkit-linear-gradient(top, #626262, #2d2c2c);
	background-image: -o-linear-gradient(top, #626262, #2d2c2c);
	background-image: linear-gradient(to bottom, #626262, #2d2c2c);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff626262', endColorstr='#ff2d2c2c', GradientType=0);
	border-top: 1px solid #6d6d6d;
	border-right: 1px solid #535353;
	border-bottom: 1px solid #3b3b3b;
	border-left: 1px solid #555454;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
.list6 .badge .numb {
	font: 12px/12px 'Fjalla One';
	margin-top: 5px;
}
.list6 li .extra-wrap p {
	font: 14px Open Sans, Arial, Helvetica, sans-serif;
	color: #676565;
	width: 100%;
	float: left;
}
.list6 li .extra-wrap p br {
	display: none;
}
.list6 li .extra-wrap a {
	font: 14px Open Sans, Arial, Helvetica, sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.list6 li .extra-wrap a:hover {
	color: #bfcd01;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.list6 li > div {
	margin-bottom: 13px;
}
.list6 li > div .extra-wrap h3 {
	margin-bottom: 10px;
}
/*-----thumbs-----*/
.thumb-pad0 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.thumb-pad0 .thumbnail .caption {
	padding: 0;
	color: #676565;
}
.thumb-pad0 .thumbnail .caption h3 {
	margin-bottom: 8px;
}
.thumb-pad0 .thumbnail .caption p {
	margin-bottom: 8px;
}
.thumb-pad0 figure {
	margin: 0;
	margin-bottom: 14px;
}
.thumb-pad0 figure img {
	width: 100%;
}
.thumb-pad1 {
	margin: 0;
	list-style: none;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 12px;
}
.thumb-pad1 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	color: #676565;
}
.thumb-pad1 .thumbnail .caption .btn-primary {
	margin-top: 13px;
}
.thumb-pad1 figure {
	margin: 0;
	margin-bottom: 24px;
}
.thumb-pad1 figure img {
	width: 100%;
}
.thumb-pad2 {
	margin: 0;
	list-style: none;
	overflow: hidden;
	margin-bottom: 21px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 5px;
}
.thumb-pad2.padLeft {
	padding-right: 20px;
	padding-left: 20px;
}
.thumb-pad2 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.thumb-pad2 .thumbnail .caption {
	padding: 0;
	color: #676565;
	overflow: hidden;
}
.thumb-pad2 .thumbnail .caption p {
	margin-bottom: 22px;
}
.thumb-pad2 figure {
	margin: 0;
	float: left;
	margin-right: 21px;
}
.thumb-pad2 figure img {
	width: 100%;
}
.thumb-pad3 figure {
	margin: 0;
	width: 100%;
	margin-bottom: 24px;
	margin-top: 5px;
}
.thumb-pad3 figure > img {
	width: 100%;
}
.thumb-pad3 p {
	margin-bottom: 6px;
}
.thumb-pad3 .btn.btn-primary {
	margin-top: 18px;
}
.thumb-pad4 {
	width: 100%;
}
.thumb-pad4 .thumbnail {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.thumb-pad4 figure {
	margin: 0;
	display: inline-block;
	width: 100%;
}
.thumb-pad4 figure img {
	width: 100%;
	max-width: 100%;
}
.thumb-pad5 {
	margin: 0;
	display: inline-block;
	margin-bottom: 10px !important;
}
.thumb-pad5 .thumbnail {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.thumb-pad5 .thumbnail .caption {
	padding: 0;
	color: #676565;
}
.thumb-pad5 .thumbnail .caption p {
	margin-bottom: 20px;
}
.thumb-pad5 figure {
	margin: 0;
	overflow: hidden;
	display: inline-block;
	float: left;
	margin-right: 19px;
}
.thumb-pad5 figure img {
	width: 100%;
}
.box4-box {
	margin-top: 0;
	padding-bottom: 30px;
}
.projects-box figure {
	padding-bottom: 0 !important;
	border-bottom: none !important;
	margin-bottom: 12px !important;
}
.projects-box h4 {
	font-weight: normal !important;
}
.projects-box .caption p {
	text-transform: none !important;
	font-size: 14px !important;
	font-weight: normal !important;
}
.projects-box .thumb-pad8 {
	margin-bottom: 36px !important;
	padding-bottom: 23px !important;
}
.thumb-pad8 {
	position: relative;
	padding: 20px 20px 26px 20px;
	margin-bottom: 23px;
	margin-top: -6px;
}
.thumb-pad8 span {
	background-color: #d9155c;
	width: 100%;
	height: 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.thumb-pad8 strong {
	background-color: #f2f6f9;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.thumb-pad8 .thumbnail {
	position: relative;
	z-index: 3;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.thumb-pad8 figure {
	margin: 0;
	width: 100%;
	margin-bottom: 16px;
	padding-bottom: 22px;
	border-bottom: 1px dashed #cdd0d2;
}
.thumb-pad8 figure img {
	width: 100%;
	max-width: 100%;
}
.thumb-pad8 .thumbnail .caption {
	padding: 0;
	color: #676565;
}
.thumb-pad8 .thumbnail .caption p {
	text-transform: uppercase;
	color: #afafaf;
	margin-bottom: 8px;
	font: bold 10px Open Sans, Arial, Helvetica, sans-serif;
	line-height: 20px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad8 .thumbnail .caption h4 {
	margin-bottom: 7px;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.projects-box .thumb-pad8 .thumbnail .caption h4 {
	font-size: 17px;
}
.projects-box .thumb-pad8 .thumbnail .caption p {
	margin-bottom: 5px;
}
.tableBox > table {
	width: 100%;
	margin-bottom: 4px;
}
.tableBox p {
	margin-bottom: 19px;
}
.tableBox > table tr > td {
	white-space: nowrap;
	color: #4b5aa7;
}
.tableBox > table a {
	color: #383535;
	text-decoration: none;
	font: 600 14px Open Sans, Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.dots {
	background: url(../img/dotted.png) 30% 15px repeat-x;
	width: 100%;
}
.tableBox > table a:hover {
	color: #ffbe01;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*-----blockquote-----*/blockquote {
	padding: 0;
	border: none;
	margin: 0;
	margin-bottom: 22px;
	margin-top: -4px;
}
blockquote.first {
	padding-left: 20px;
}
blockquote.last {
	padding-right: 20px;
}
blockquote > div {
	padding-left: 18px;
	padding-right: 20px;
}
blockquote img {
	display: block;
	margin-bottom: 7px;
}
blockquote p {
	font: italic 14px Open Sans, Arial, Helvetica, sans-serif;
	line-height: 20px;
}
blockquote p.indent {
	margin-bottom: 17px;
}
blockquote p span {
	color: #383535;
	font-style: normal;
	text-transform: uppercase;
}
blockquote a {
	color: #676565;
	font: 14px Open Sans, Arial, Helvetica, sans-serif;
	position: relative;
	top: -2px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
blockquote a:hover {
	color: #4b5aa7;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
blockquote .extra-wrap {
	margin-bottom: 15px;
}
/*-----table-----*/
.table1 {
	color: #000;
	display: inline-block;
}
.table1 tr {
	height: 57px;
	vertical-align: middle;
	border-bottom: 1px dotted #c1c1c1;
}
.table1 tr.last {
	border-bottom: none;
}
.table1 td {
	font: 600 15px 'Open Sans', sans-serif;
	color: #8a8a8a;
	border-right: 1px dotted #c1c1c1;
}
.table1 .middle {
	width: 200px;
	padding-left: 29px;
}
.table1 .middle2 {
	width: 111px;
	padding-left: 29px;
}
.table1 .firstCol {
	width: 125px;
	color: #8a8a8a;
	font: 600 15px 'Open Sans', sans-serif;
}
.table1 .lastCol {
	width: 206px;
	padding-left: 29px;
	border-right: none;
}
.table1 .color {
	color: #2f822f;
}
.table1 .firstLine {
	border-bottom: 1px dotted #c1c1c1;
}
.table1 .firstLine td {
	font-size: 17px;
	color: #2f822f;
}
.table1 .firstLine .firstCol {
	font-size: 17px;
}
.table1 .firstLine {
	height: 41px;
	vertical-align: top;
}
/*-----header-----*/
header {
	padding: 50px 0 0 0;
}
header br {
	display: block;
}
.main.bg {
	background: none;
	overflow: visible;
}
header .follow-box {
	float: right;
	margin-top: -2px;
	text-align: right;
}
header p {
	font: 11px Open Sans, Arial, Helvetica, sans-serif;
	color: #abaaa7;
	float: left;
}
header .follow_icons {
	margin: 0;
	list-style: none;
	display: inline-block;
	margin-bottom: 4px;
}
header .follow_icons li {
	float: left;
	margin-left: 6px;
}
header .follow_icons li a {
	font-weight: normal;
	font-size: 22px;
	line-height: 22px;
	color: #a9a8a8;
	display: inline-block;
	width: auto;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
header .follow_icons li a:hover {
	color: #333333;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
/*-----menu-----*/
#slides-pagination ul li:hover, #slides-pagination ul .flex-active-slide {
	background: #23B5F7; /*ffcc02 */
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	border-color: #ffcc02;
}
#slides-pagination ul li:hover .title1, #slides-pagination ul .flex-active-slide .title1 {
	color: #ffcc02; /* */
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
#slides-pagination ul li:hover .title2, #slides-pagination ul .flex-active-slide .title2 {
	color:  white; /* #303030;*/
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
#menu {
	padding-bottom: 69px;
}


.main-drop{ display: none; }

/* All Mobile Sizes (devices and browser) */
@media (max-width: 400px) {
	.main-drop{ display: block; width: 98%; margin-left: 3px; text-align: center;}	
}

@media (max-width: 600px) {
	.main-drop{ display: block; width: 98%; margin-left: 3px; text-align: center;}	
	.sc-nav li{ display: none;}		
}

.navbar_ {
	margin-bottom: 0 !important;
	margin-bottom: 30px;
}
.nav-collapse .nav {
	float: none !important;
}
.navbar_ .collapse {
	overflow: visible;
	line-height: 0 !important;
	font-size: 0;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar_ .nav-collapse_ .nav li li {
	font-size: 24px;
	line-height: 24px;
	display: block;
}
.navbar_ .navbar-inner {
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	min-height: inherit;
	border: none;
	background: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
}
.navbar_ .nav-collapse_ {
	padding: 0;
	overflow: visible !important;
	background: #2f2e2e;
	padding-bottom: 4px;
}
.nav-collapse_ {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	float: none;
	margin: 0;
	padding: 0;
	background: none;
	text-align: center;
}
.nav-collapse_ .nav {
	margin: 0;
	background: #23B5F7  url(../img/menu_bg1.png) repeat-x;
}
.nav-collapse_ .nav li {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px solid #252525;
	text-transform: uppercase;
	zoom: 1;
}
.nav-collapse_ .nav > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	color: #ffffff;
	box-shadow: none !important;
	text-shadow: none !important;
	font: 600 17px Open Sans, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 0;
	text-align: center;
	background: none;
	background: #23B5F7  url(../img/menu_bg1.png) repeat-x;
	padding: 16px 19px 17px 20px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.nav-collapse_ .nav > li.active > a {
	color: #ffffff !important;
	background: black url(../img/menu_hover.png) repeat-x;
 	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	box-shadow: none; /*#ffcc02*/
}
.nav-collapse_ .nav > li a:hover {
	color: #ffffff !important;
	background: #383535 url(../img/menu_hover.png) repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	/*383535*/
}
.nav-collapse_ .nav > .sfHover > a {
	color: #383535 !important;
	background: #ffcc02 url(../img/menu_hover.png) repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.nav-collapse_ .nav > li > a span {
	display: inline-block;
	height: 6px;
	background: url(../img/menu-marker.png) no-repeat;
	width: 7px;
	left: 54px;
	top: 45px;
	position: absolute;
}
/*-----subMenu1-----*/
.nav-collapse .sub-menu > ul {
	position: absolute;
	display: none;
	width: 203px;
	left: 0;
	top: 60px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: none;
	padding: 0;
	margin: 0;
	text-align: left;
}
.nav-collapse .sub-menu > ul li {
	background: none !important;
	float: none;
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #252525;
}
.nav-collapse .sub-menu > ul li:first-child + li + li + li + li {
	border-bottom: none;
}
.nav-collapse .sub-menu > ul li a {
	padding: 0;
	margin: 0;
	font: 15px/18px 'Open Sans', Open Sans, Arial, Helvetica, sans-serif;
	color: #ffffff;
	display: block;
	background: #2f2e2e;
	text-transform: none;
	padding: 7px 0 10px 20px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.nav-collapse .sub-menu > ul li a span {
	margin-left: 10px;
	display: inline-block;
	background: url(../img/menu-marker2.png) no-repeat;
	width: 6px;
	height: 5px;
	position: relative;
	top: -2px;
}
.nav-collapse .sub-menu > ul li a:hover {
	text-decoration: none;
	background: #ffcc02 !important;
	color: #383535 !important;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.nav-collapse .sub-menu .sfHover > a {
	text-decoration: none;
	background: #ffcc02 !important;
	color: #383535 !important;
}
/*-----subMenu2-----*/
.nav-collapse .sub-menu ul ul {
	position: absolute;
	display: none;
	width: 203px;
	left: 204px;
	top: 0;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: none;
	padding: 0;
	margin: 0;
	text-align: left;
}
.nav-collapse .sub-menu ul ul li a {
	padding: 0;
	margin: 0;
	font: 15px/18px 'Open Sans', Open Sans, Arial, Helvetica, sans-serif;
	color: #ffffff;
	display: block;
	background: #2f2e2e;
	text-transform: none;
	padding: 7px 0 10px 20px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.nav-collapse .sub-menu ul ul li:first-child + li + li {
	border-bottom: none;
}
.nav-collapse .sub-menu ul li a:hover, .nav-collapse .sub-menu ul li.sfHover > a {
	text-decoration: none;
	background: #ffcc02 !important;
	color: #383535;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
/*----content-----*/
#content {
	position: relative;
	padding: 0 0 0 0;
}
.img-polaroid {
	position: relative;
	background: none;
	padding: 0;
	box-shadow: none;
	border: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	max-width: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#toTop {
	display: none;
	width: 42px;
	height: 42px;
	overflow: hidden;
	background: url(../img/top.png) 0 top no-repeat;
	position: fixed;
	margin-right: -690px !important;
	right: 50%;
	bottom: 40px;
	z-index: 999;
}
#toTop:hover {
	background: url(../img/top.png) 0 bottom no-repeat;
}
.mail {
	font: 14px Open Sans, Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #ffcc03;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.mail:hover {
	color: #383535;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.error {
	padding-top: 37px;
}
.error-search p {
	margin-bottom: 20px;
}
.error-search h2 {
	margin-bottom: 35px;
}
.error-search > div {
	padding-right: 20px;
}
.testimonials-box {
	margin-top: -4px;
	padding-bottom: 0;
}
.testimonials-box > div {
	padding-left: 0;
	padding-right: 0;
}
.testimonials-box h2 {
	padding-left: 18px;
}
.team-box h2 {
	padding-left: 18px;
}
.linkBox {
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	padding: 9px 0 11px 0;
	background:rgb(35, 181, 247) ;
	/*#bcb9b9*/
}
.linkBox > div {
	float: right;
	display: inline-block;
}
.linkBox ul {
	margin: 0;
	list-style: none;
	overflow: hidden;
	margin-right: 30px;
}
.linkBox ul li {
	float: left;
	border-right: 1px solid #ffffff;
	line-height: 24px;
	padding: 0 12px 0 11px;
}
.linkBox ul li:first-child {
	padding-left: 0;
}
.linkBox ul li:first-child + li + li + li + li {
	padding-right: 0;
	border-right: 0;
}
.linkBox ul li a {
	font: 600 14px Open Sans, Arial, Helvetica, sans-serif;
	color: #696565;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.linkBox ul li a:hover {
	color: #383535;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.logo{
	height: 80px;
	width:100px;
}
.logoBox {
	background-color: #f7f7f5;
	background-image: -moz-linear-gradient(top, #ffffff, #eceae6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eceae6));
	background-image: -webkit-linear-gradient(top, #ffffff, #eceae6);
	background-image: -o-linear-gradient(top, #ffffff, #eceae6);
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	background-repeat: repeat-x;		
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeceae6', GradientType=0);
}
.logoBox .telBox {
	background: url(../img/header_glow.png) 31px 0 no-repeat;
	float: right;
	width: 464px;
	padding: 31px 29px 17px 0;
	text-align: right;
}
.logoBox .telBox .title1 {
	font: bold 36px Open Sans, Arial, Helvetica, sans-serif;
	color: #383535;
	margin-bottom: 1px;
	width: 100%;
}
.logoBox .telBox .title2 {
	font: 600 13px Open Sans, Arial, Helvetica, sans-serif;
	color: #9d9a98;
	width: 100%;
}
.logoBox .telBox span {
	font-size: 36px;
	color: #ffcc02;
	margin-right: 7px;
	position: relative;
	top: 3px;
}
.logoBox > div > div {
	overflow: hidden;
	padding: 30px 0 28px 29px;
	float: left;
}
.banner {
	background: #FFCC02   url(../img/key.png) 147px bottom no-repeat;
	border-bottom: 1px solid #aaa8a8;
	padding: 20px 0 18px 20px;
	margin-bottom: 30px;
}
.banner .title1 {
	font: bold 33px Open Sans, Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin-bottom: 6px;
	text-transform: uppercase;
}
.banner .title2 {
	font: 600 14px Open Sans, Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #383535;
}
.banner2 {
	background: #4CAF50  url(../img/clock.png) 187px bottom no-repeat;
	border-bottom: 1px solid #303a6b;
	padding: 13px 0 5px 20px;
	margin-bottom: 30px;
}
.banner2 .title1 {
	font: bold 23px Open Sans, Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin-bottom: 6px;
	text-transform: uppercase;
}
.banner2 p {
	font-weight: 600;
	color: #ffffff;
}
.banner2 p > span {
	color: #ffcc02;
}
/*-----subscribeForm-----*/
#subscribe-form {
	margin: 0;
	position: relative;
	margin-top: 11px;
}
#subscribe-form .error {
	display: block;
	overflow: hidden;
	height: 0px;
	position: absolute;
	top: 45px;
	text-align: left;
	left: 0;
	font: 11px Open Sans, Arial, Helvetica, sans-serif;
	color: #676565;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#subscribe-form input {
	width: 100%;
	outline: 0;
	box-shadow: none;
	color: #787878;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	border-radius: 0;
	padding: 3px 10px 4px 29px;
	margin-right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #e0e0e0;
	border-top: 1px solid #a9a9a9;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #c5c5c5;
	margin-bottom: 6px;
	height: 43px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#subscribe-form label.invalid .error {
	height: 19px;
}
#subscribe-form .success {
	display: none;
	border: 1px solid #fff;
	border-radius: 0;
	padding: 10px 0 10px 0;
	background-color: #4c544a;
	text-align: center;
	color: #fff;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	width: 268px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
/*-----search-----*/
#search-404 {
	position: relative;
	margin: 0;
	margin-top: 26px;
	margin-bottom: 93px;
}
#search-404 input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	padding: 6px 15px 6px 13px;
	width: 100%;
	outline: none;
	border: 1px solid #dfdbdb;
	background: #f4f2f0;
	font: 14px Open Sans, Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #676565;
	margin-bottom: 30px;
	height: 33px;
}
.search_link {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#search-404 .btn.btn-link {
	margin-top: 5px;
}
#search {
	margin: 0;
	position: relative;
	display: inline-block;
	margin-top: 17px;
	float: right;
}
#search input {
	width: 264px;
	outline: none;
	box-shadow: none;
	border: none;
	color: #676565;
	font: 14px Open Sans, Arial, Helvetica, sans-serif;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 11px 10px 11px 13px;
	margin-right: 0;
	float: left;
	background: #ffffff;
	border: 1px solid #cecece;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: -1px;
	height: 45px;
}
/*-----map-----*/
.map {
	margin: 3px 0 0 0;
	display: inline-block;
	width: 100%;
	line-height: 0;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 432px;
	border: none;
	line-height: 0;
}
.info {
	margin-bottom: -12px;
}
.info p {
	margin-bottom: 30px;
}
/*-----form-----*/
.form-box {
	position: relative;
	margin-top: -2px;
	padding-top: 71px;
}
.form-box:after {
	width: 2px;
	height: 100%;
	background: none;
	background: url(../img/border.png) right top repeat-y;
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: 0;
	left: -67px;
	content: ' ';
	z-index: 10;
}
#contact-form {
	position: relative;
	z-index: 1;
	margin: -1px 0 0 0;
	padding: 0 0 0 0;
	vertical-align: top;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	margin-bottom: 2px;
}
.txt-form {
	display: block;
	padding-bottom: 6px;
	color: #ffffff;
}
.txt-form span {
	color: #ffffff;
}
.form-div-1, .form-div-2, .form-div-3 {
	float: left;
	width: 189px;
	margin-bottom: 16px;
}
.form-div-1 p, .form-div-2 p, .form-div-3 p {
	margin-bottom: 2px;
}
.form-div-1, .form-div-2 {
	margin-right: 6px;
}
#contact-form fieldset {
	position: relative;
	z-index: 10;
	overflow: hidden;
	padding: 0;
	width: 100%;
	border: none;
}
#contact-form fieldset > div > p {
	margin-bottom: 2px;
}
#contact-form label {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	min-height: 42px;
	width: 100%;
}
#contact-form .message {
	display: block !important;
	min-height: 129px;
	width: 100%;
	margin-bottom: 25px;
}
#contact-form input, #contact-form textarea {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	padding: 6px 15px 6px 13px;
	width: 100%;
	outline: none;
	border: 1px solid #dfdbdb;
	background: #f4f2f0;
	font: 14px Open Sans, Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #676565;
	height: 33px;
}
#contact-form input:focus, #contact-form textarea:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#contact-form .area .error {
	float: none;
}
#contact-form textarea {
	overflow: auto;
	width: 100%;
	height: 148px;
	resize: none;
}
#contact-form .success {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 17px 10px;
	width: 100%;
	background: #cecece;
	border: none;
	color: #ffffff;
	text-align: center;
	text-transform: none;
	font-size: 16px;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	line-height: 22px;
}
#contact-form .error, #contact-form .empty {
	position: absolute;
	bottom: -7px;
	text-align: left;
	left: 2px;
	display: none;
	overflow: hidden;
	padding: 1px 4px 0px 0;
	width: 100%;
	color: #333;
	text-transform: none;
	font-size: 11px;
	line-height: 1.27em;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}
#contact-form .message .error, #contact-form .message .empty {
	bottom: -15px;
	text-align: right;
}
.btns .btn.btn-primary {
	float: left;
}
.btns p {
	margin-top: 9px;
	float: left;
	margin-left: 16px;
	color: #ffbd01;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}
/*-----footer-----*/
footer {
	padding: 0;
	margin-bottom: 30px;
}
footer .container .span12 {
	background: #e3e2e2;
	padding-top: 11px;
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
	border-bottom: 1px solid #cccbcb;
}
footer p {
	font-size: 14px;
	font-weight: normal;
	color: #383535;
	margin-left: 15px;
}
footer a {
	color: #7b7979;
	font-weight: normal;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
footer a:hover {
	color: #383535;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.select-menu {
	display: none !important;
}
.about-box h2 {
	margin-bottom: 11px;
}
/*-------------------------------------------------------media queries----------------------------------------------------------*/
@media (min-width: 1200px) {
 .nav-collapse_ {
 display: block;
}
 .box-thumb1 {
 width: 236px;
}
 #contact-form label {
 display: inline-block;
}
 .fw_video iframe {
 width: 570px;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 239px;
}
 .caroufredsel_wrapper {
 height: 72px !important;
}
 footer .privacy-box > img {
 float: left;
 margin-top: -4px;
 margin-right: 5px;
}
 .list5 li {
 width: 159px;
}
 .thumb-pad2.padLeft {
 padding-left: 20px;
 padding-right: 0;
}
 .thumb-pad2 {
 padding-right: 0;
 padding-left: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 980px) and (max-width: 1199px) {
 .fw_video iframe {
 width: 460px;
}
 .nav-collapse_ {
 height: auto !important;
}
 .list5 li {
 width: 122px;
}
 .box-thumb1 {
 width: 182px;
}
 .caroufredsel_wrapper {
 height: 72px !important;
}
 #subscribe-form .success {
 width: 218px;
}
 footer .privacy-box > img {
 float: none;
 margin-top: 0;
 margin-right: 0;
 margin-bottom: 10px;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 189px;
}
 .thumb-pad2 {
 padding-right: 20px;
 padding-left: 20px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 979px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {
 .navbar_ {
 float: none;
}
 .linkBox {
 padding: 8px 0 8px 0;
}
 .linkBox > div {
 float: none;
}
 .logoBox .telBox {
 width: 300px;
}
 .linkBox ul {
 margin-right: 0;
}
 .banner1 {
 background: #3c4886 url(../img/key.png) right bottom no-repeat;
}
 .banner2 {
 background: #3c4886 url(../img/clock.png) right bottom no-repeat;
}
 .fw_video {
 height: 193px;
}
 .fw_video iframe {
 width: 352px;
 height: 193px;
}
 #menu {
 padding-bottom: 20px;
}
 .list1 li .extra-wrap {
 overflow: visible;
}
 .privacy-box .info-box > div p > span {
 display: block;
}
 .privacy-box p > a {
 display: block;
}
 .list4 li .extra-wrap {
 overflow: visible;
}
 .list5 li {
 width: 86px;
}
 .list6-box:after {
 right: -45px;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 100%;
}
 .form-div-1,  .form-div-2 {
 margin-right: 20px;
}
 .form-box:after {
 content: none;
}
 .supportBanner .title1 {
 font-size: 55px;
}
 .supportBanner .title2 {
 font-size: 25px;
 line-height: 23px;
 margin-top: 0px;
}
 .thumb-pad8 .thumbnail .caption h4 {
 font-size: 19px;
 line-height: 21px;
}
 .box-thumb1 {
 width: 215px;
}
 #search-404 input {
 margin-right: 0;
 width: 100%;
}
 .banner-box .title {
 font-size: 15px;
}
 .navbar_ .nav-collapse_ {
 width: 100%;
 padding: 0;
}
 header {
 padding-bottom: 0;
}
 header .container {
 text-align: center;
}
 .list5 li figure {
 width: 100%;
 float: none;
 margin-bottom: 10px;
}
 #subscribe-form .success {
 width: 164px;
}
 .list3 li p > span {
 display: block;
 width: auto;
}
 .follow_icon li {
 margin-bottom: 5px;
}
 .nav-tabs li a {
 font-weight: normal;
 font-size: 14px;
}
 .tab-content {
 padding: 30px 20px 20px 30px;
}
 .list1 li figure {
 width: 100%;
 margin-right: 0;
 float: none;
 margin-bottom: 10px;
}
 .list1 li figure > img {
 width: 100%;
}
 .list1 li figure > a img {
 width: 100%;
}
 .thumb-pad2 {
 padding-right: 20px !important;
 padding-left: 20px !important;
}
 .thumb-pad2 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 15px;
}
 .error img {
 margin-left: 0 !important;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 #menu {
 padding-bottom: 10px;
}
 .error img {
 margin-left: 0 !important;
}
 h1.brand {
 text-align: center;
 width: 100%;
 padding: 20px 0 20px 0 !important;
 float: none;
}
 .contentHolder {
 margin-bottom: 30px;
}
 .thumb-pad1 figure {
 float: left;
 margin-right: 20px;
}
 .thumb-pad1 .thumbnail {
 overflow: hidden;
}
 .linkBox {
 padding: 8px 0 8px 0;
}
 .linkBox > div {
 float: none;
 overflow: hidden;
}
 .logoBox .telBox {
 width: 100%;
 background: none;
 text-align: center;
 float: none;
 padding: 0;
 overflow: hidden;
}
 .linkBox ul {
 margin-right: 0;
 padding-left: 10px;
 padding-right: 10px;
}
 .logoBox > div {
 overflow: hidden;
 padding-bottom: 20px;
}
 .logoBox > div > div {
 padding: 0;
 width: 100%;
 text-align: center;
 margin-bottom: 20px;
}
 .linkBox ul li a {
 font-size: 13px;
 font-weight: normal;
}
 header .container {
 text-align: center;
}
 #contact-form label {
 margin-bottom: 15px;
}
 #search {
 width: 100%;
 float: none;
}
 #search input {
 width: 100%;
 padding: 11px 120px 11px 13px;
}
 #search .btn.btn-primary {
 position: absolute;
 top: 0;
 right: 0;
}
 .banner {
 background: #d5d2d2 url(../img/key.png) right bottom no-repeat;
}
 .banner2 {
 background: #3c4886 url(../img/clock.png) right bottom no-repeat;
}
 .banners ul {
 margin-left: -20px;
}
 .banners ul li {
 float: left;
 width: 29%;
 margin-left: 20px;
}
 .banner-box .span4 {
 margin-bottom: 50px;
}
 .fw_video {
 margin-bottom: 60px;
}
 .fw_video iframe {
 width: 100%;
}
 .list4-box {
 padding-bottom: 20px;
 margin-bottom: 50px;
}
 .list5 li {
 width: 45%;
}
 .list6-box:after {
 content: none;
}
 .thumb-pad0 figure {
 width: 100%;
 margin-right: 0;
 float: none;
}
 .thumb-pad2 {
 margin-bottom: 20px;
}
 .hr-box:after {
 content: none;
}
 .navbar_ .nav-collapse_ {
 width: 100%;
 padding: 0;
}
 .box4 {
 width: 29%;
 float: left;
 margin-right: 20px;
}
 .thumb-pad8 .thumbnail .caption h4 {
 font-size: 16px;
 line-height: 18px;
}
 .box-list1 {
 float: left;
 width: 45%;
 margin-right: 10px;
}
 .navbar_ {
 float: none;
 padding: 11px 10px 10px 10px;
 background: #333;
 margin-top: 0;
}
 .navbar_ .nav-collapse_ {
 width: 100%;
}
 .box-thumb1 {
 width: 30%;
 float: left;
 margin-left: 0;
 margin-right: 18px;
}
 .navbar_ .nav-collapse_ {
 padding: 0;
 margin: 0;
 border: none;
}
 .navbar_ .nav-collapse_ .nav {
 display: none;
}
 .navbar_ .nav-collapse_ {
 height: auto !important;
 padding-bottom: 5px;
 background: none;
}
 .select-menu {
 display: block !important;
 width: 100%;
 border: 1px solid #000;
 background: #d9d9d9;
 color: #000000;
 cursor: pointer;
 margin-top: 10px;
 margin-bottom: 14px;
 font-size: 14px;
}
 .top {
 display: none;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 float: none;
 width: 100%;
 margin: 0 0 0 0;
}
 .box-thumb1 {
 width: 30%;
}
 #search-404 input {
 width: 100%;
 float: none;
 margin-right: 0;
}
 .error {
 text-align: center;
 margin-bottom: 50px;
}
 .box-pad1 {
 width: 45%;
 float: left;
 margin-right: 20px;
}
 .thumb-pad2 figure {
 float: left;
 margin-right: 20px;
}
 #subscribe-form .success {
 width: 100%;
}
 .error-search > div {
 padding-left: 18px !important;
 padding-right: 20px !important;
}
 .table1 td {
 font-size: 13px !important;
}
 .table1 .middle,  .table1 .middle2,  .table1 .lastCol {
 padding-left: 0;
 text-align: center;
}
 .banners {
 margin-top: 40px;
}
 .thumb-pad2.padLeft {
 padding-right: 20px;
 padding-left: 20px;
}
 .thumb-pad2 {
 padding-right: 20px;
 padding-left: 20px;
}
 .thumb-pad3 figure {
 float: left;
 width: auto;
 margin-right: 20px;
 margin-top: 0;
}
 blockquote {
 padding-left: 20px;
 margin-bottom: 28px;
 margin-top: 0;
}
 .logoBox {
 padding-left: 15px;
 padding-right: 15px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 626px) and (max-width: 767px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
 .box-thumb1 {
 width: 45%;
}
 .linkBox ul li {
    /*border-right: none;
      padding: 0;
      width: 100%;
      display: block;*/
  
    border-right: none;
 padding: 0;
 margin-left: 15px;
}
 .thumb-pad1 figure {
 float: none;
 margin-right: 0;
 width: 100%;
}
 .box4 {
 width: 28%;
 float: left;
 margin-right: 20px;
}
 .thumb-pad8 .thumbnail .caption h4 {
 font-size: 16px;
 line-height: 18px;
}
 .thumb-pad8 .btn.btn-link {
 font-weight: normal;
 font-size: 11px;
 padding-bottom: 1px;
}
 .foo-btn {
 position: relative;
 top: 0;
 float: none;
 left: 0;
 text-align: center;
 margin-bottom: 20px;
}
 .list5 li figure {
 width: 100%;
 float: none;
 margin-bottom: 10px;
}
 .projects-box.box4 {
 width: 45%;
 float: left;
 margin-right: 20px;
}
 .thumb-pad2 figure {
 width: 100%;
 margin-right: 0;
 float: none;
 margin-bottom: 15px;
}
 .thumb-pad3 figure {
 width: 100%;
 float: none;
 margin-right: 0;
}
 .thumb-pad3 figure > img {
 width: 100%;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
 .banners ul {
 margin-left: 0;
}
 .banners ul li {
 width: 100%;
 margin-left: 0;
}
 .banners ul li figure img {
 width: 100%;
}
 .list1 li .extra-wrap {
 overflow: visible;
}
 #search-404 input {
 margin-right: 0;
 width: 100%;
}
 .box-thumb1 {
 width: 45%;
}
 .fw_video {
 height: 193px;
}
 .fw_video iframe {
 height: 193px;
}
 .thumb-pad5 figure {
 width: 100%;
 margin-right: 0;
 float: none;
 margin-bottom: 20px;
}
 .tableBox > table tr > td {
 vertical-align: bottom;
}
 .tableBox > table tr > .pr {
 float: right;
 margin-left: 20px;
}
 .tableBox > table tr > .dots {
 display: none;
}
 .tableBox > table tr > td {
 white-space: normal;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 482px) and (max-width: 625px) {
}
@media (max-width: 480px) {
 .list5 li {
 width: 43%;
}
 .box-thumb1 {
 width: 100%;
 float: none;
 margin-left: 0;
}
 .box4 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 .box-list1 {
 float: none;
 width: 100%;
 margin-right: 0;
}
 .list4 li .extra-wrap a {
 display: block;
 float: none;
 margin-bottom: 5px;
}
 .map iframe {
 height: 200px;
}
 .thumb-pad0 figure {
 float: none;
 margin-right: 0;
 width: 100%;
}
 .list1 li figure {
 width: 100%;
 margin-right: 0;
 float: none;
 margin-bottom: 10px;
}
 .list1 li figure > img {
 width: 100%;
}
 .list1 li figure > a img {
 width: 100%;
}
 .box-pad1 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 footer p {
 float: none;
 margin-bottom: 10px;
}
 footer ul {
 float: none;
 display: block;
}
 #subscribe-form {
 margin-bottom: 30px;
}
 .supportBanner .title1 {
 font-size: 55px;
}
 .supportBanner .title2 {
 font-size: 25px;
 line-height: 23px;
 margin-top: 0px;
}
 .projects-box.box4 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 .table1 .lastCol {
 display: none;
}
 .table1 .middle2 {
 border-right: none;
}
 .table1 td {
 font-size: 12px !important;
 font-weight: normal !important;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 481px) {
}
@media (max-width: 320px) {
 .logoBox .telBox .title1 {
 font-size: 20px;
}
 .logoBox .telBox span {
 font-size: 25px;
}
 .logoBox .telBox .title2 {
 font-size: 11px;
}
 .banners {
 margin-top: 60px;
}
 .list5 li {
 width: 40%;
}
 .box-thumb1 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 .list1 li .extra-wrap a {
 font-size: 14px;
 font-weight: normal;
}
 .list2 li a {
 font-size: 14px;
 font-weight: normal;
}
 .nav-tabs li a {
 font-weight: normal;
 font-size: 14px;
}
 .tab-content {
 padding: 30px 20px 20px 30px;
}
 .list3 li p > span {
 display: block;
}
 .list5 li {
 width: 100%;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/.error img {
	max-width: 100% !important;
	margin-left: 20px;
}
.margBot {
	margin-bottom: 24px;
}
.margBot1 {
	margin-bottom: 30px;
}
.padBot {
	padding-bottom: 30px;
}
/*---------------------------------------------------------------------------------------------------------------------------*//*Core variables and mixins*/
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


